body{
    
.open-sans-<uniquifier> {
  
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 400;
}
}
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    margin-right: 50px  ;
}
.primary-btn{
    background: #FD6E0A;
    border: 0;
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;

}
#stylish-word{
  color: #FD6E0A;    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

